<a href="https://colab.research.google.com/github/antoniogss/json_data/blob/main/json_file_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import pandas as pd
import numpy as np
import warnings as war
import google.colab as gc
import matplotlib.pyplot as plt
import seaborn as sns
import json 
import requests as rq
import warnings as war

#Ignore harmeless warnings
war.filterwarnings('ignore')

In [92]:
url = 'http://api.nobelprize.org/v1/prize.json'

data = rq.get(url).json()

In [93]:
type(data)

dict

In [94]:
data.keys()

dict_keys(['prizes'])

In [108]:
j_data = data['prizes'][:5]
j_data

[{'year': '2021',
  'category': 'chemistry',
  'laureates': [{'id': '1002',
    'firstname': 'Benjamin',
    'surname': 'List',
    'motivation': '"for the development of asymmetric organocatalysis"',
    'share': '2'},
   {'id': '1003',
    'firstname': 'David',
    'surname': 'MacMillan',
    'motivation': '"for the development of asymmetric organocatalysis"',
    'share': '2'}]},
 {'year': '2021',
  'category': 'economics',
  'laureates': [{'id': '1007',
    'firstname': 'David',
    'surname': 'Card',
    'motivation': '"for his empirical contributions to labour economics"',
    'share': '2'},
   {'id': '1008',
    'firstname': 'Joshua',
    'surname': 'Angrist',
    'motivation': '"for their methodological contributions to the analysis of causal relationships"',
    'share': '4'},
   {'id': '1009',
    'firstname': 'Guido',
    'surname': 'Imbens',
    'motivation': '"for their methodological contributions to the analysis of causal relationships"',
    'share': '4'}]},
 {'year': '2021',
  'category': 'literature',
  'laureates': [{'id': '1004',
    'firstname': 'Abdulrazak',
    'surname': 'Gurnah',
    'motivation': '"for his uncompromising and compassionate penetration of the effects of colonialism and the fate of the refugee in the gulf between cultures and continents"',
    'share': '1'}]},
 {'year': '2021',
  'category': 'peace',
  'laureates': [{'id': '1005',
    'firstname': 'Maria',
    'surname': 'Ressa',
    'motivation': '"for their efforts to safeguard freedom of expression, which is a precondition for democracy and lasting peace"',
    'share': '2'},
   {'id': '1006',
    'firstname': 'Dmitry',
    'surname': 'Muratov',
    'motivation': '"for their efforts to safeguard freedom of expression, which is a precondition for democracy and lasting peace"',
    'share': '2'}]},
 {'year': '2021',
  'category': 'physics',
  'overallMotivation': '"for groundbreaking contributions to our understanding of complex physical systems"',
  'laureates': [{'id': '999',
    'firstname': 'Syukuro',
    'surname': 'Manabe',
    'motivation': '"for the physical modelling of Earth’s climate, quantifying variability and reliably predicting global warming"',
    'share': '4'},
   {'id': '1000',
    'firstname': 'Klaus',
    'surname': 'Hasselmann',
    'motivation': '"for the physical modelling of Earth’s climate, quantifying variability and reliably predicting global warming"',
    'share': '4'},
   {'id': '1001',
    'firstname': 'Giorgio',
    'surname': 'Parisi',
    'motivation': '"for the discovery of the interplay of disorder and fluctuations in physical systems from atomic to planetary scales"',
    'share': '2'}]}]

In [109]:
type(j_data)

list

In [110]:
# Extract all keys from a list of dictionaries
all_keys = set().union(*(d.keys() for d in j_data))
all_keys

{'category', 'laureates', 'overallMotivation', 'year'}

In [111]:
# Extract all keys of the laureates dictionary
j_data[0]['laureates'][0].keys()

dict_keys(['id', 'firstname', 'surname', 'motivation', 'share'])

In [112]:
df_1 = pd.json_normalize(j_data)
df_1.head()

,year,category,laureates,overallMotivation
0,2021,chemistry,"[{'id': '1002', 'firstname': 'Benjamin', 'surn...",NaN
1,2021,economics,"[{'id': '1007', 'firstname': 'David', 'surname...",NaN
2,2021,literature,"[{'id': '1004', 'firstname': 'Abdulrazak', 'su...",NaN
3,2021,peace,"[{'id': '1005', 'firstname': 'Maria', 'surname...",NaN
4,2021,physics,"[{'id': '999', 'firstname': 'Syukuro', 'surnam...","""for groundbreaking contributions to our under..."

In [117]:
df_2 = pd.json_normalize(j_data, max_level=1)
df_2.head()

,year,category,laureates,overallMotivation
0,2021,chemistry,"[{'id': '1002', 'firstname': 'Benjamin', 'surn...",NaN
1,2021,economics,"[{'id': '1007', 'firstname': 'David', 'surname...",NaN
2,2021,literature,"[{'id': '1004', 'firstname': 'Abdulrazak', 'su...",NaN
3,2021,peace,"[{'id': '1005', 'firstname': 'Maria', 'surname...",NaN
4,2021,physics,"[{'id': '999', 'firstname': 'Syukuro', 'surnam...","""for groundbreaking contributions to our under..."

In [118]:
'''Source: https://stackoverflow.com/
questions/52795561/flattening-nested-
json-in-pandas-data-frame'''

def flatten_json(nested_json, exclude=['']):
    """Flatten json object with nested keys into a single level.
        Args:
            nested_json: A nested json object.
            exclude: Keys to exclude from output.
        Returns:
            The flattened json object if successful, None otherwise.
    """
    out = {}

    def flatten(x, name='', exclude=exclude):
        if type(x) is dict:
            for a in x:
                if a not in exclude: flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(nested_json)
    return out

In [122]:
pd.DataFrame([flatten_json(x) for x in j_data])

,year,category,laureates_0_id,laureates_0_firstname,laureates_0_surname,laureates_0_motivation,laureates_0_share,laureates_1_id,laureates_1_firstname,laureates_1_surname,laureates_1_motivation,laureates_1_share,laureates_2_id,laureates_2_firstname,laureates_2_surname,laureates_2_motivation,laureates_2_share,overallMotivation
0,2021,chemistry,1002,Benjamin,List,"""for the development of asymmetric organocatal...",2,1003,David,MacMillan,"""for the development of asymmetric organocatal...",2,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,economics,1007,David,Card,"""for his empirical contributions to labour eco...",2,1008,Joshua,Angrist,"""for their methodological contributions to the...",4,1009,Guido,Imbens,"""for their methodological contributions to the...",4,NaN
2,2021,literature,1004,Abdulrazak,Gurnah,"""for his uncompromising and compassionate pene...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,peace,1005,Maria,Ressa,"""for their efforts to safeguard freedom of exp...",2,1006,Dmitry,Muratov,"""for their efforts to safeguard freedom of exp...",2,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,physics,999,Syukuro,Manabe,"""for the physical modelling of Earth’s climate...",4,1000,Klaus,Hasselmann,"""for the physical modelling of Earth’s climate...",4,1001,Giorgio,Parisi,"""for the discovery of the interplay of disorde...",2,"""for groundbreaking contributions to our under..."